<h1>出席管理システム</h1>
本システムでは <a href="http://www.jasig.org/cas">CAS (Central Authentication Service)</a> で認証されたユーザの講義出席状況を登録管理します．左側の「科目一覧」を表示し，受講している科目の出席確認を行なってください．なお出席登録は一旦Moodleにログインし，Moodle上のリンクから行なってください．
